[includeIf "gitdir:~/personal/"]
  path = ~/.gitconfig-github

[includeIf "gitdir:~/work/hnk/"]
  path = ~/.gitconfig-github

[includeIf "gitdir:~/work/sbp/"]
  path = ~/.gitconfig-work

[includeIf "gitdir:~/work/ns/"]
  path = ~/.gitconfig-work

[init]
	defaultBranch = main
[commit]
	gpgsign = true
[credential]
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
[credential "https://sbp.gitlab.schubergphilis.com"]
	provider = gitlab
[credential "https://bitbucket.topaas.ns.nl"]
	provider = bitbucket
[core]
	excludesfile = /Users/lribeiro/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
