[includeIf "gitdir:~/personal/"]
  path = ~/.gitconfig-github

[includeIf "gitdir:~/work/hnk/"]
  path = ~/.gitconfig-github

[includeIf "gitdir:~/work/sbp/"]
  path = ~/.gitconfig-work

[includeIf "gitdir:~/work/ns/"]
  path = ~/.gitconfig-work

[init]
	defaultBranch = main
[commit]
	gpgsign = true
[credential]
	helper = /usr/local/bin/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
[credential "https://sbp.gitlab.schubergphilis.com"]
	provider = gitlab
[core]
	excludesfile = /Users/lribeiro/.gitignore_global
	editor = nvim
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[maintenance]
	repo = /Users/lribeiro/work/hnk/iot-gateway
[alias]
	ca = commit --amend --no-edit
	pf = push --force-with-lease
	c = commit -S
	d = diff
	s = status -s -b
	wa = worktree add
	wl = worktree list
