[includeIf "gitdir:~/work/"]
  path = ~/.gitconfig-work
[includeIf "gitdir:~/personal/"]
  path = ~/.gitconfig-personal
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[credential]
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
[credential "https://sbp.gitlab.schubergphilis.com"]
	provider = gitlab
[credential "https://bitbucket.topaas.ns.nl"]
	provider = bitbucket
[core]
	excludesfile = /Users/lribeiro/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
